main {
    margin-top: 6rem;
    margin-left: 3rem;
}

#nosotros {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 2rem;
}

h1 {
    text-align: center;
    margin-bottom: 6rem;
    }
    
#tituloNosotros {
    margin-bottom: 6rem;
}

.logo_about {
margin-left: 10%;
margin-right: 10%;
margin-bottom: 6rem;
}

#intro {
    display: flex;
    margin: 3rem, 3rem, 2rem, 3rem;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 5%;
    gap: 2rem;
    font-size: 2rem;
}
.parrafo {
    display: flex;
    align-items: center;
    margin: 2rem, 3rem, 2rem, 3rem;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 5%;
    padding-left: 1rem;
    gap: 2rem;
}

#nosotros img {
        width: 90px;
        height: 90px;
        float: left;
        margin-right: 1rem;
        border-radius: 50%;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }


    main {
        margin-top: 6rem;
        margin-bottom: 6rem;
    }