main {
    margin-left: 3rem;
}

#nosotros {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 2rem;
}

h1 {
    text-align: center;
    margin-bottom: 6rem;
    }
    
#tituloNosotros {
    margin-bottom: 6rem;
}

p {
    display: flex;
    align-items: center;
    margin: 1rem, 3rem, 1rem, 3rem;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 5%;
    gap: 2rem;
}

    img {
        width: 90px;
        height: 90px;
        float: left;
        margin-right: 1rem;
        border-radius: 50%;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }


    main {
        margin-top: 6rem;
        margin-bottom: 6rem;
    }