/* estilos para catalogo.html */
 
#catalogo{
    margin-top:6rem;
}

#catalogo .filter-nav {
   display: flex;
   flex-direction: row; /*por defecto*/
   justify-content: center;
   align-items:center;
   text-align: center;
   
}

#catalogo .filter-nav select {
    margin: 0 10px;
    padding: 10px 20px;
    cursor: pointer;
    width: 100%;
}

#catalogo .filter-nav label{
  font-size: 2.4rem;
}

#gallery {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    padding: 0 30rem;
   
}

#catalogo .productDetail {
  position: relative;
  display: flex; 
  flex-direction: column; 
  font-size: 2rem;
  height: 100%; /* Asegura que el contenedor use toda la altura disponible */
  
}

#catalogo .productDetail p:last-child{
    font-size: 2rem;
    padding-bottom: 20px;
}
#catalogo .gallery .plato {
    /*border: 1px solid #ff4d4dff;*/
    text-align: center;
    cursor: pointer;
	background-color:#ffffff; 
    border-radius:25px;
    margin: 3rem;

}


#catalogo .img-plato{
    position: relative;
    text-align: center;
    border-radius: 2.5rem;     
}

#catalogo .img-plato span{
    position: absolute;
    display: block;
    left: 10%;
    bottom: 4%;
    z-index: 2;
    padding:0.5rem;
    border-radius: 2.5rem;  
    color:white;
    font-size:2rem;
    font-weight:bold;
    background-color: rgba(22, 21, 21, 0.5);
}
#catalogo .img-plato img{
    display: block;
    width: 100%;
    border-radius: 2.5rem 2.5rem 0 0;
    transition: transform 0.5s ease-out;
}
#catalogo .img-plato img:hover{
    transform: scale(1.2);
    
}

.infoPlato {
  min-width: 33rem;

}

/** Estilos del texto de las tarjetas **/
#catalogo .productDetail h4 {
  padding: 3rem 0;
  margin-bottom: 3rem;
  background-color: var(--resalte);
  font-size: 2rem;
  color: var(--subtitulos);
}

#catalogo .productDetail p {
  font-size: 1.7rem;
  color: var(--subtitulos);
  margin: 0.5rem 0;
}



/** estilos del contador de pedido bajo foto plato**/
#catalogo .product-counter {
  position: relative;
  bottom: 2%;
  right: 0%;
  border-top: 1px solid #ccc;
  background-color:var(--fondoBackground);
  border-radius: 3rem;
  margin: 0 auto;
  padding: 0.8rem;
}

#catalogo .counter-btn {
  cursor: pointer;
  border: none;
  border-radius: 100%;
  color: var(--textoNormal);
  font-size: 2rem;
  width: 3rem;
  height: 3rem;
  text-align: center;
  vertical-align: center;
  box-shadow: 2px 2px 4px #46424280;
}
#catalogo  .decrement {
  background-color: var(--titulos);
}
#catalogo  .increment {
  background-color: var(--verdeClaro);
}

#catalogo .counter-value {
  padding:  1rem;
}

/*  botones  desplegables de filtros **/
/* Estilo general del nav y select */
#catalogo nav.filter-nav {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  align-items: center;
  font-size: 1rem;
  margin-top: 5rem;
}

#catalogo select {
  appearance: none; /* Elimina el estilo predeterminado */
  background-color: white;
  color:var(--verde);
  border-radius: 4px;
  padding: 0.5rem 1rem;
  font-size: 2rem;
  cursor: pointer;
  position: relative;
  outline: none;
  width: 20rem;
  transition: border 0.3s ease;
   /* Transici칩n para suavizar los cambios */
  transition: background-image 0.3s ease, border 0.3s ease;
}
  /* A침adimos el icono de flecha abajo*/
#catalogo select {
background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="rgb(0, 117, 22)" width="48" height="48"><path d="M7 10l5 5 5-5H7z"/></svg>');
background-repeat: no-repeat;
background-position: right 1rem center;
background-size: 3rem;
border-radius: 2rem;
}
/* Cambio en el borde solo si la opci칩n seleccionada es distinta de "all" */
#catalogo select:not([value="all"]) {
  border: 2px solid var(--verde);
}

/* Restaurar borde si la opci칩n seleccionada es "all" */
#catalogo select[value="all"] {
  border: none;
}

/* Cambia a flecha hacia arriba cuando abre */

#catalogo select.open {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="rgb(0, 117, 22)" width="48" height="48"><path d="M7 14l5-5 5 5H7z"/></svg>');
}

#catalogo option {
  background-color: white;
  color: var(--verde);
  width: 20rem;
  font-size: 2rem;
  padding: 0.5rem;
  border-radius: 2rem;
}

option.color:hover {
  background-color: var(--fondoBackground);
  color: var(--subtitulos);
}

/** boton up to top **/
#top-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: var(--fondoBackground);
  color: var(--subtitulos);
  border: 2px solid var(--subtitulos);
  padding: 10px 15px;
  border-radius: 50%;
  cursor: pointer;
  font-size: 20px;
  display: none;
  transition: background-color 0.3s;
  z-index:300;
}

#top-button:hover{
  background-color: var(--subtitulos);
color: var(--verdeClaro);
}

/* Mediaqueries */
@media (min-width: 480px) {
    #catalogo .gallery {
        grid-template-columns: 1fr;
    }
}


@media (min-width: 768px) {
    #catalogo .gallery {
        grid-template-columns: repeat(2, 1fr);
    }

    #catalogo nav.filter-nav {
      display: flex;
      flex-direction: row;
      gap: 4rem;
      align-items: center;
      font-size: 2rem;
       margin: 5rem auto;
        max-width: 60%;
    }
}

@media (min-width: 1024px){
  #catalogo .gallery {
    grid-template-columns: repeat(3, 1fr);
}


}




