/* estilos para catalogo.html */
 
#catalogo{
    margin-top:6rem;
}

#catalogo .filter-nav {
   display:flex;
   flex-direction:row; /*por defecto*/
   justify-content:center;
   align-items:center;
    padding: 0.5rem;
    text-align: center;
    width:100%;
}

#catalogo .filter-nav select {
    margin: 0 0.6rem;
    padding: 0.6rem 2rem;
    cursor: pointer;
    width:100%;
}

#catalogo .gallery {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    margin: 0 13rem;
}

#catalogo .productDetail {
  position: relative;
  display: flex; 
  flex-direction: column; 
  font-size: 2rem;
  height: 100%; /* Asegura que el contenedor use toda la altura disponible */
  
}
#catalogo .detalles{
width: 60%;
}
#catalogo .gallery .plato {
    /*border: 1px solid #ff4d4dff;*/
    text-align: center;
    cursor: pointer;
	background-color:#ffffff; 
    border-radius:25px;
    margin: 3rem;

}


#catalogo .img-plato{
    position: relative;
    text-align: center;
    border-radius: 2.5rem;     
}

#catalogo .img-plato span{
    position: absolute;
    display: block;
    left: 10%;
    bottom: 4%;
    z-index: 2;
    padding:0.5rem;
    border-radius: 2.5rem;  
    color:white;
    font-size:2rem;
    font-weight:bold;
    background-color: rgba(22, 21, 21, 0.5);
}
#catalogo .img-plato img{
    width: 100%;
    border-radius:2.5rem;
    transition: transform 0.5s ease-out;
}
#catalogo .img-plato img:hover{
    transform: scale(1.2);
    
}

.infoPlato {
  min-width: 33rem;

}

/** Estilos del texto de las tarjetas **/
#catalogo .productDetail h4 {
  margin: 1rem 0;
  padding: 3rem 0;
  background-color: var(--resalte);
  font-size: 2rem;
  color: var(--subtitulos);
}

#catalogo .productDetail p {
  font-size: 1.7rem;
  color: var(--subtitulos);
  margin: 0.5rem 0;
}



/** estilos del contador de pedido bajo foto plato**/
#catalogo .product-counter {
  position: relative;
  bottom: 2%;
  right: 0%;
  border-top: 1px solid #ccc;
  background-color:var(--fondoBackground);
  border-radius: 3rem;
  margin: 1rem auto;
  padding: 0.8rem;
}

#catalogo .counter-btn {
  cursor: pointer;
  border: none;
  border-radius: 100%;
  color: var(--textoNormal);
  font-size: 2rem;
  width: 3rem;
  height: 3rem;
  text-align: center;
  vertical-align: center;
  box-shadow: 2px 2px 4px #46424280;
}
#catalogo  .decrement {
  background-color: var(--titulos);
}
#catalogo  .increment {
  background-color: var(--verdeClaro);
}

#catalogo .counter-value {
  padding:  1rem;
}
@media (max-width: 768px) {
  #catalogo .filter-nav{
      flex-direction:column;
    
  }
  

}



/*  botones  desplegables de filtros **/
/* Estilo general del nav y select */
#catalogo nav.filter-nav {
  display: flex;
  gap: 1rem;
  align-items: center;
}

#catalogo select {
  appearance: none; /* Elimina el estilo predeterminado */
  background-color: white;
  color: rgb(0, 117, 22);
  border-radius: 4px;
  padding: 0.5rem 1rem;
  font-size: 1.5rem;
  cursor: pointer;
  position: relative;
  outline: none;
  width: 20%;
  transition: border 0.3s ease;
   /* Transición para suavizar los cambios */
  transition: background-image 0.3s ease, border 0.3s ease;
}
  /* Añadimos el icono de flecha abajo*/
#catalogo select {
background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="rgb(0, 117, 22)" width="48" height="48"><path d="M7 10l5 5 5-5H7z"/></svg>');
background-repeat: no-repeat;
background-position: right 1rem center;
background-size: 3rem;
border-radius: 2rem;
}
/* Cambio en el borde solo si la opción seleccionada es distinta de "all" */
#catalogo select:not([value="all"]) {
  border: 2px solid var(--verde);
}

/* Restaurar borde si la opción seleccionada es "all" */
#catalogo select[value="all"] {
  border: none;
}

/* Cambia a flecha hacia arriba cuando abre */

#catalogo select.open {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="rgb(0, 117, 22)" width="48" height="48"><path d="M7 14l5-5 5 5H7z"/></svg>');
}

#catalogo option {
  background-color: white;
  color: var(--verde);
  font-size: 1.5rem;
  padding: 0.5rem;
}

#catalogo option:hover {
  background-color: var(--fondoBackground);
}

/** boton up to top **/
#top-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: var(--fondoBackground);
  color: var(--subtitulos);
  border: 2px solid var(--subtitulos);
  padding: 10px 15px;
  border-radius: 50%;
  cursor: pointer;
  font-size: 20px;
  display: none;
  transition: background-color 0.3s;
  z-index:300;
}

#top-button:hover{
  background-color: var(--subtitulos);
color: var(--verdeClaro);
}

/* Mediaqueries */
@media (min-width: 480px) {
    #catalogo .gallery {
        grid-template-columns: 1fr;
    }
}


@media (min-width: 768px) {
    #catalogo .gallery {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 1024px){
  #catalogo .gallery {
    grid-template-columns: repeat(3, 1fr);
}

}




