.encabezado {
    margin-bottom: 2rem;
}

.texto_contacto {
    margin-bottom: 2rem;
}

.contenedor {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.contenedor input {
    font-size: 2rem;

}

.contenedor label {
    font-size: 2rem;
    min-width: 40%;
}

p {
    font-size: 2rem;
}