/*LOGIN*/
.contenedorLogin {
  background-color:  #ffffff;
  margin: 3rem auto;
  padding: 2rem;
  border-radius: 1rem;
  width: 100rem;
  height: 70%;
  text-align: center;
  border-radius: 5rem;
}
  
  .contenedorLogin h1 {
    margin-bottom: 1.5rem;
    color: #ff6363ff;
  }
  
  .contenedorLogin label {
    display: block;
    margin: 1rem 0 0.5rem;
  }
  
  .contenedorLogin input {
    width: 50%;
    padding: 1rem;
    margin-bottom: 1.5rem;
    border: 1px solid var(--resalte);
    border-radius: 4rem;
  }
  
  .contenedorLogin button {
    background-color: #ffd257;;
    padding: 1rem 2rem;
    border-radius: 4rem;
    cursor: pointer;
  }
  
  .contenedorLogin button:hover {
    background-color: #b9668aff;
  }
  
  .registro {
    background-color:  #ffffff;
    margin: 3rem auto;
    padding: 2rem;
    border-radius: 4rem;
    width: 60%;
    height: 70%;
    text-align: center;
    margin-top: 1.5rem;
    }

    .privacidad{
      padding-top: 1rem;
  }
  
  .registro a {
    color: #88543b;
        font-weight: bold;
        text-decoration: underline;
        margin: 1rem;
    }
 

  

  /*CREAR CUENTA*/
  .contenedor-cuenta{
    width: 100rem;
    height: 70%;
    background-color:  #ffffff;
    margin: 3rem auto;
    padding: 2rem;
    border-radius: 1rem;
    text-align: center;
    border-radius: 5rem;
  
  }

    .contenedor-cuenta h1 {
        margin-bottom: 1.5rem;
        color: #ff6363ff;
    }

    .contenedor-cuenta label {
        display: block;
        margin: 1rem 0 0.5rem;
    }

    .contenedor-cuenta input[type="text"],
    .contenedor-cuenta input[type="password"],
    .contenedor-cuenta input[type="tel"] {
        width: 50%;
        padding: 1rem;
        margin-top: 0.5rem;
        border: 1px solid var(--resalte);
        border-radius: 4rem;
    }


    .contenedor-cuenta button {
        background-color: #ffd257;
        padding: 1rem 2rem;
        margin: 1rem;
        border-radius: 4rem;
        cursor: pointer;
    }

    .contenedor-cuenta button:hover {
        background-color: #b9668aff;

    }
    
    .privacidad{
        padding-top: 1rem;
    }

    .privacidad a {
        color: var #b9668aff;
        font-weight: bold;
    }

    .link {
        text-align: center;
     margin: 1rem;
    }
    
    .link a {
        color:#88543b;
        font-weight: bold;
        text-decoration: underline;
        
    }
    
