h1 {
text-align: center;
margin-bottom: 6rem;
}

h2 {
    text-align: center;
    margin-bottom: 2rem;
}

.historia {
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 3rem;
    border-radius: 5%;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 2rem;

}
.historia p {
    text-align: justify;
    margin-bottom: 2rem;
    }

.persona { display: flex;
    align-items: center;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 3rem;
    border-radius: 5%;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 2rem;
}

.persona p {
    margin-left: 1rem;
    text-align: justify;}