/* estilos para plato.html */
*{
    box-sizing: border-box;
}
#plato{
    margin-top:6rem;
}
#plato #productDetail{
 background-color:white;
 text-align:center;
 width:65%;
 margin: 1rem auto;
 padding: 1rem;
}
#plato .contenido-detalle{
    display: flex;
    
}
#plato .img-plato{
    text-align:center;
    margin: 1rem;
}
#plato .img-plato img{
    width: 70%;
}


/** estilos del contador de pedido bajo foto plato**/
#plato .product-counter {
    margin-top: auto; /* Empuja el contador al fondo del contenedor */
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #ccc;
    background-color: #f9f9f9;
	  height: 50px;
}

#plato .counter-btn {
    flex: 1;
    background-color: var(--verde);
    color: #fff;
    border: none;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    padding: 10px;
    text-align: center;
	user-select: none; /* Evita seleccionar texto al hacer clic */
}

#plato .counter-btn:active {
    background-color: var(--verdeClaro);
}

#plato .counter-value {
    flex: 2;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    color: #333;
    padding: 10px;
	user-select: none; /* Evita seleccionar texto */
}