#plato #productDetail{
 background-color:white;
 text-align:center;
 width:65%;
 margin: 1rem auto;
 padding: 1rem;
}

#plato .img-plato{
    text-align:center;
    margin: 1rem;
}
#plato .img-plato img{
    width: 70%;
}

/** languages **/
.language-switch {
    display: flex;
    align-items: center;
    gap: 10px;
    position: absolute;
    top: 10px;
    right: 20px;
}

.lang-icon {
    width: 24px;
    height: 24px;
    cursor: pointer;
}
/* Responsive Styles */
@media (max-width: 768px) {
   
    
 
}

@media (max-width: 480px) {
    
    
}