/* estilos para plato.html */
*{
    box-sizing: border-box;
}
#plato{
    margin-top:6rem;
}
#plato #productDetail{
 background-color:white;
 text-align:center;
 width:65%;
 margin: 1rem auto;
 padding: 1rem;
}
#plato .contenido-detalle{
    display: flex;
    
}
#plato .img-plato{
    text-align:center;
    margin: 1rem;
}
#plato .img-plato img{
    width: 70%;
}


/** estilos del contador de pedido bajo foto plato**/
#catalogo .product-counter {
    position: absolute;
     bottom: 0;
     left: 0;
     width: 100%;
     display: flex;
     justify-content: space-between;
     align-items: center;
     border-top: 1px solid #ccc;
     background-color: #f9f9f9;
     z-index: 10; /* Superior para estar encima del contenido */
     height: 50px;
 }
 
 #catalogo .counter-btn {
     flex: 1;
     background-color: var(--verde);
     color: #fff;
     border: none;
     font-size: 20px;
     font-weight: bold;
     cursor: pointer;
     padding: 10px;
     text-align: center;
     user-select: none; /* Evita seleccionar texto al hacer clic */
 }
 
 #catalogo .counter-btn:active {
     background-color: var(--verdeClaro);
 }
 
 #catalogo .counter-value {
     flex: 2;
     text-align: center;
     font-size: 18px;
     font-weight: bold;
     color: #333;
     padding: 10px;
     user-select: none; /* Evita seleccionar texto */
 }

