:root {
  --titulos: #ff6363ff;
  --subtitulos: #88543b;
  --resalte: #ffd257;
  --fondoBackground: #ffe2b0;
  --fondoSection: #ffffff;
  --verde: #73d786ff;
  --verdeClaro: #beebc6ff;
  --morado: #b9668aff;
  --textoNormal: #1d1400;
}

/* Fonts */

.modak-regular {
  font-family: "Modak", serif;
  font-weight: 400;
  font-style: normal;
}

.caprasimo-regular {
  font-family: "Caprasimo", serif;
  font-weight: 400;
  font-style: normal;
}

.old-standard-tt-regular {
  font-family: "Old Standard TT", serif;
  font-weight: 400;
  font-style: normal;
}

.old-standard-tt-bold {
  font-family: "Old Standard TT", serif;
  font-weight: 700;
  font-style: normal;
}

.old-standard-tt-regular-italic {
  font-family: "Old Standard TT", serif;
  font-weight: 400;
  font-style: italic;
}

.imprima-regular {
  font-family: "Imprima", serif;
  font-weight: 400;
  font-style: normal;
}

h1,
h2 {
  font-family: "Caprasimo", serif;
  color: var(--titulos);
}

/* Reset CSS */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Imprima", serif;
  background-color: var(--fondoBackground);
  font-size: 62.5%;
  /* para que 1rem sea igual a 10px */
}

body {
  font-size: 1.6rem;
  margin: auto;
}

.container {
  max-width: 1500px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

img {
  max-width: 100%;
  height: auto;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

/* Default: Extra-small devices such as small phones (less than 640px) */

 /* Header */

.header {
  position: sticky;
  z-index: 100;

  top: 5%;

  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: var(--fondoSection);
  width: 90%;

  padding: 1.8rem;
  border-radius: 9rem;
  box-shadow: 0 4px 8px var(--titulos);

    .logo-regular {
      display: none;
    }

    .logo-mobile {
      width: 100%;
      /* Usa un porcentaje para que el ancho sea relativo al contenedor */
      max-width: 8rem;
      /* Limita el tamaño máximo del logo */
      min-width: 8rem;
    }

    .nav {
      display: flex;
      align-items: center;
    }

    .menu {
      display: flex;
      padding: 1.5rem;
    }

    .menu.clicked {
      position: fixed;
      z-index: 200;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      background-color: var(--subtitulos);

      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      align-items: stretch;
      gap: 5rem;
      padding: 6rem;

      & li {
        font-size: 5rem;
        font-family: "Caprasimo", 'Times New Roman', Times, serif;
         
        text-align: center;
        border: 1px solid red;
      }

      & li a {
        display: block;
        width: 100%;
        color: var(--resalte);
      }
    }

    .menu li {
      padding: 0 1rem;
    }

    .menu-mobile {
      font-size: 3rem;
      padding: 1.5rem 3rem;
    }
}

/** languages **/
.language-switch {
  position: absolute;
  right: 20px;
  top: 10px;
  z-index: 250;
  display: flex;
  align-items: center;
  gap: 10px;
}

.lang-icon {
  width: 24px;
  height: 24px;
  cursor: pointer;
  border-radius: 50%;
}



/* Small devices such as large phones (640px and up) */
@media only screen and (min-width: 640px) {...}

/* Medium devices such as tablets (768px and up) */
@media only screen and (min-width: 768px) {...}

/* Large devices such as laptops (1024px and up) */
@media only screen and (min-width: 1024px) {
  
   /* Header */

.header {
  position: sticky;
  z-index: 100;

  top: 5%;


  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: var(--fondoSection);
  width: 90%;
  margin: auto;
  padding: 1.8rem;
  border-radius: 9rem;


  .logo-regular {
    display: block;
    width: 100%;
    padding: 0 2.5rem;
    /* Usa un porcentaje para que el ancho sea relativo al contenedor */
    max-width: 25rem;
 
    & a {
      display: block;
      margin-bottom: -1rem;
    }
  }

  .logo-mobile,
  .menu-mobile {
    display: none;
  }

  .nav {
    display: flex;
    align-items: center;
  }

  .menu {
    display: flex;
    padding: 1.5rem;
  }

  .menu li {
    padding: 0 1rem;
  }

  .menu-mobile {
    font-size: 3rem;
    padding: 1.5rem 3rem;
  }
}

/** languages **/
.language-switch {
  display: flex;
  align-items: center;
  gap: 10px;
  position: absolute;
  z-index: 100;
  top: 10px;
  right: 20px;
}

.lang-icon {
  width: 24px;
  height: 24px;
  cursor: pointer;
  border-radius: 50%;
}

}

/* Largest devices such as desktops (1280px and up) */
@media only screen and (min-width: 1280px) {
 

/* Buttons */
.buttonLink {
  display: inline-block;
  color: var(--verde);
  background-color: var(--verdeClaro);

  font-size: 2rem;
  padding: 2rem;
  margin: 2rem;

  border: 2px solid;
  border-radius: 4rem;
}

.buttonLink:hover {
  color: var(--verdeClaro);
  background-color: var(--verde);
  transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
}


/* Sections */

#hero {
  display: flex;

  flex-flow: column wrap;
  align-items: flex-start;

  padding: 8rem;
  height: auto;

  /*  */


  .hero-text {

    padding: 3rem;
    font-size: clamp(1rem, 8vw, 5rem);

  & p {
      color: var(--subtitulos);
      font-size: 3rem;
    }
  }

  .hero-action {

    padding: 3rem;
  }

  .hero-img {
    position: absolute;
    top: -6%;
    right: -30%;

    width: 65vw; /* Asegura que ocupe el 100% del contenedor */
    max-width: 65vw; /* No supera el ancho del viewport */
    aspect-ratio: 16 / 9; /* Mantiene una proporción de aspecto, ajustable según lo que desees */
    border-radius: 18rem;
    transform: rotate(10deg);
    background: no-repeat center/cover url("../assets/img/fotos/pexels-nano-erdozain-120534369-30204528.jpg");
}
  ul.hero {
    font-size: 2rem;
    padding: 4rem 11rem;
    background-color: #88543b;
    border-radius: 11rem;
    
  }

  .hero li {
    position: relative;
    color: white;
    padding: 0 3.1rem;
    margin: 0.9rem;
  }

  .hero li::before {
      content: "";
      position: absolute;
      top: 0; left: 0;
      width: 100%; height: 100%;
      background-image: url(../assets/img/elements/check-circle.svg);
      background-position: 0 0;
      background-size: 2.1rem;
      background-repeat: no-repeat;
      
      filter: invert(100%);
  }

}

#features {
  background-color: var(--fondoSection);
  padding: 5rem;
  border-radius: 5rem;
  
  & .features-info {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    
    & h2 {
        font-size: 6rem;
        margin: 1rem;
      }

    & p {
        font-size: 2.5rem;
        margin: 1rem;
      }

    & .features-steps {
      display: flex;
      gap: 10rem;

        & .step h3 {
          font-size: 3rem;
        }
      }
  }
}

/* Footer */
.footer {
  width: 100%;
  height: auto;
}

.footer-info {
  display: flex;
  justify-content: space-around;
  margin: 3rem auto;
  padding: 3rem;
  border-radius: 3rem;
  background-color: var(--verdeClaro);
  width: 90%;
}

.footer-help,
.footer-about,
.footer-eco {

  margin: 2rem;

 & h3 {
    font-family: "Old Standard TT", serif;
    font-size: 3rem;
    margin-bottom: 1.5rem;
  }

 & li {
    padding: 0.4rem 0;
  }
}


.footer-legal {
  display: flex;
  justify-content: space-around;
  background-color: var(--verde);
  color: var(--textoNormal);
  padding: 2rem;

 & ul {
    display: flex;

   & li {
      padding: 0 1rem;
    }
  }
}
