:root {
  --titulos: #ff6363ff;
  --subtitulos: #88543b;
  --resalte: #ffd257;
  --fondoBackground: #ffe2b0;
  --fondoSection: #ffffff;
  --verde: #00a721;
  --verdeClaro: #beebc6ff;
  --morado: #b9668aff;
  --textoNormal: #1d1400;
}

h1,
h2,
h3 {
  font-family: "Caprasimo", serif;
  color: var(--textoNormal);
}

/* Reset CSS */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Imprima", serif;
  background-color: var(--fondoBackground);
  font-size: 62.5%;
  /* para que 1rem sea igual a 10px */
}

body {
  font-size: 1.6rem;
  margin: auto;
}

.container {
  max-width: 1500px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

img {
  max-width: 100%;
  height: auto;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

/* Default: Extra-small devices such as small phones (less than 640px) */

/* Header */

.header {
  position: sticky;
  z-index: 100;
  top: 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--fondoSection);
  width: 90%;
  padding: 1.8rem;
  border-radius: 9rem;
  box-shadow: 0 4px 8px var(--subtitulos);
}

.logo-regular {
  display: none;
}

.logo-mobile {
  width: 100%;
  max-width: 8rem;
  min-width: 8rem;
}

.nav {
  position: relative;
  display: flex;
  align-items: center;
}

.menu {
  position: fixed;
  z-index: 200;
  top: 0;
  left: 0;
  width: 100vw;
  height: auto;
  background: var(--verdeClaro) repeat center/150rem
    url("../assets/img/elements/mosaico-comida.png");
  font-family: "Caprasimo", "Times New Roman", Times, serif;
  font-size: 5rem;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  gap: 5rem;
  padding: 20rem 0;
  transform: translateY(-100%);
  transition: transform 0.5s ease-out;
}

.menu.clicked {
  transform: translateY(0%);
}

.menu.clicked li:first-child::before {
  content: "";
  position: fixed;
  top: -8rem;
  left: 50vw;
  transform: translateX(-50%);
  padding: 15rem;
  background: no-repeat center/contain
    url("../assets/img/logotipos/logotipo-letras.png");
}

.menu li {
  padding: 0 1rem;
}

.menu li a {
  display: block;
  width: 100%;
  color: var(--subtitulos);
}

.menu-mobile {
  position: relative;
  cursor: pointer;
  z-index: 200;
  font-size: 3rem;
  padding: 1.5rem 3rem;
}

.menu-mobile i:hover {
  color: var(--titulos);
}

.cart {
  position: relative;
  z-index: 200;
  cursor: pointer;
  margin-right: 1.6rem;
  padding: 0.9rem;
  border-radius: 100%;
  border: 0.4rem solid var(--subtitulos);
  font-size: 1.8rem;
  background-color: var(--fondoBackground);
  color: var(--subtitulos);
}

.cart i {
  position: relative;
  top: 2px;
  right: 1px;
}

.cart:hover {
  background: var(--subtitulos);
  color: var(--resalte);
}

.cart:hover .cart-count {
  color: var(--textoNormal);
  background: var(--resalte);
}

.cart-count {
  padding: 0.4rem 1rem;
  position: absolute;
  bottom: -0.89rem;
  left: 2.7rem;
  background: var(--subtitulos);
  color: var(--resalte);
  border-radius: 100%;
}

/* Cart modal */
.cart-overlay {
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vw;
  opacity: 40%;
  background-color: var(--textoNormal);
  z-index: 299;
}

.cart-modal {
  position: absolute;
  z-index: 300;
  display: flex;
  top: 0;
  right: 0;
  background-color: var(--fondoSection);
  height: auto;
  flex-flow: column nowrap;
  transform: translateX(100%);
  text-align: center;
  transition: transform 0.5s ease-in-out;
  border-radius: 4rem 0 0 2rem;
}

.cart-modal h2 {
  letter-spacing: 2rem;
  font-family: "Imprima";
  text-transform: uppercase ;
  padding: 2rem 0;
  border-radius: 4rem 0 0;
  font-size: 1.3rem;
  border-bottom: 1px solid var(--subtitulos);
  color: var(--subtitulos);
}

.cart-overlay.clicked {
  display: block;
}

.cart-modal.clicked {
  transform: translateX(0%);
}

.cartItems {
  display: flex;
  flex-direction: column;
  width: 45rem;
  margin: 2rem 3rem;
  gap: 2rem;
}

.cart-item {
  position: relative;
  margin: 0;
  display: flex;
  background-color: var(--fondoSection);
  box-shadow: 2px 2px 4px #46424280;
  border-radius: 2rem;
}

.cart-item .img-plato {
  display: block;
  width: 20rem;
  object-fit: cover;
  border-radius: 2rem 0 0 2rem;
}

.cart-elements {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: var(--fondoSection);
  padding: 1rem;
  width: 100%;
  border-radius: 0 2rem 2rem 0;
}
.cart-item .titulo {
  width: 18rem;
  text-align: left;
  font-size: 1.6rem;
  padding: 1.5rem 0 0 1rem;
  }

.cart-item .precio {
  position: absolute;
  top: 15%;
  right: 0;
  background-color: var(--verdeClaro);

  font-size: 1.8rem;
  padding: 0.5rem;

}
.cart-item .counter-value {
  font-size: 1.3rem;
  padding: .3rem;

}

.cart-elements .product-counter {
  position: absolute;
  bottom: 10%;
  right: 5%;
  background: var(--fondoBackground);
  border-radius: 3rem;
  border: 0;
  padding: 0.5rem;
}

.cart-elements .counter-btn {
  display: inline-block;
  cursor: pointer;
  border: none;
  border-radius: 100%;
  color: var(--textoNormal);
  font-size: 2rem;
  width: 3rem;
  height: 3rem;
  text-align: center;
  vertical-align: center;
  box-shadow: 2px 2px 4px #46424280;
}
.cart-elements .decrement {
  background-color: var(--titulos);
}
.cart-elements .increment {
  background-color: var(--verdeClaro);
}

.cart-footer {
    width: 100%;
    border-top: 1px solid var(--subtitulos);
    font-family: "Noticia Text";
    font-size: 3rem;
    padding: 1.5rem;
}

/** languages **/
.language-switch {
  position: absolute;
  right: 20px;
  top: 10px;
  z-index: 250;
  display: flex;
  align-items: center;
  gap: 10px;
}

.lang-icon {
  width: 24px;
  height: 24px;
  cursor: pointer;
  border-radius: 50%;
}

main {
  margin-top: 8rem;
}

/* Buttons */
.buttonLink {
  cursor: pointer;
  display: inline-block;
  color: var(--verde);
  background-color: var(--resalte);
  font-size: 2rem;
  padding: 2rem;
  margin: 2rem;
  border: 2px solid;
  border-radius: 4rem;
}

.buttonLink:hover {
  color: var(--resalte);
  background-color: var(--subtitulos);
  transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
}



/* Sections */
#hero {
  display: flex;
  flex-flow: column wrap;
  align-items: flex-start;
  padding: 8rem;
  height: auto;
}

.hero-text {
  position: relative;
  z-index: 2;
  background-color: var(--fondoBackground);
  padding: 3rem;
  font-size: clamp(1rem, 8vw, 5rem);
}

.hero-text p {
  color: var(--subtitulos);
  font-size: 3rem;
}

.hero-text h1 {
  color: var(--titulos);
}

.hero-action {
  padding: 3rem;
}

.hero-img {
  position: absolute;
  z-index: 1;
  top: -12rem;
  right: 0;
  width: 110vw;
  border-radius: 10rem;
  aspect-ratio: 16 / 9;
  transform: rotate(10deg);
  background: no-repeat center/cover
    url("../assets/img/fotos/pexels-nano-erdozain-120534369-30204528.jpg");
}

ul.hero {
  font-size: 2rem;
  padding: 4rem 11rem;
  background-color: #88543b;
  border-radius: 11rem;
}

.hero li {
  position: relative;
  color: white;
  padding: 0 3.1rem;
  margin: 0.9rem;
}

.hero li::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(../assets/img/elements/check-circle.svg);
  background-position: 0 0;
  background-size: 2.1rem;
  background-repeat: no-repeat;
  filter: invert(100%);
}

#features {
  background-color: var(--fondoSection);
  padding: 5rem;
  border-radius: 5rem;
  width: 75%;
  margin: 0 auto;
}

.features-info {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 2rem 0;
}

.features-info h2 {
  font-size: 8rem;
  margin: -1rem;
  color: var(--titulos);
}

.features-info p {
  font-size: 1.8rem;
  margin: 1rem;
}

.features-steps {
  display: flex;
  gap: 10rem;
  margin: 2rem 0;
}

.step h3 {
  font-size: 3rem;
  text-align: center;
  font-weight: 100;
  color: var(--textoNormal);
}

.features-info img {
  width: 75%;
}

/* Small devices such as large phones (640px and up) 
@media only screen and (min-width: 640px) {...}*/

/* Medium devices such as tablets (768px and up)
@media only screen and (min-width: 768px) {...} */

/* Large devices such as laptops (1024px and up) */
@media only screen and (min-width: 1024px) {
  /* Header */
  .header {
    position: sticky;
    z-index: 100;
    top: 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--fondoSection);
    width: 90%;
    margin: auto;
    padding: 1.8rem;
    border-radius: 9rem;
  }

  .logo-regular {
    display: block;
    width: 100%;
    padding: 0 2.5rem;
    max-width: 25rem;
  }

  .logo-regular a {
    display: block;
    margin-bottom: -1rem;
  }

  .logo-mobile,
  .menu-mobile {
    display: none;
  }

  .nav {
    display: flex;
    align-items: center;
  }

  .menu {
    position: static;
    z-index: 200;
    width: 100%;
    min-height: unset;
    background: unset;
    font-family: unset;
    font-size: 2rem;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: unset;
    transform: unset;
    transition: unset;
  }

  .menu li {
    padding: 0 1rem;
  }

  .menu.clicked {
    transform: translateY(0%);
  }

  /** languages **/
  .language-switch {
    display: flex;
    align-items: center;
    gap: 10px;
    position: absolute;
    z-index: 100;
    top: 10px;
    right: 20px;
  }

  .lang-icon {
    width: 24px;
    height: 24px;
    cursor: pointer;
    border-radius: 50%;
  }
}

/* Footer */

.footer {
  width: 100%;
  height: auto;
}

.footer-info {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  margin: 3rem auto;
  padding: 3rem;
  border-radius: 3rem;
  background-color: var(--verdeClaro);
  width: 90%;
}

.footer-help,
.footer-about,
.footer-eco {
  margin: 2rem;
  width: 100%;
  text-align: center;
  font-size: 1.5rem;
}

.footer-help h3,
.footer-about h3,
.footer-eco h3 {
  font-family: "Noticia Text", serif;
  font-size: 3rem;
  margin-bottom: 1.5rem;
}

.footer-help li,
.footer-about li,
.footer-eco li {
  padding: 0.4rem 0;
}

.footer-logo {
  max-width: 60%;
}

.footer-legal {
  display: flex;
  justify-content: space-around;
  background-color: var(--resalte);
  color: var(--textoNormal);
  padding: 2rem;
}

.footer-legal ul {
  display: flex;
}

.footer-legal li {
  padding: 0 1rem;
}

/* Largest devices such as desktops (1280px and up) */
@media only screen and (min-width: 1280px) {
  /* Buttons
  .buttonLink {
    display: inline-block;
    color: var(--verde);
    background-color: var(--verdeClaro);
    font-size: 2rem;
    padding: 2rem;
    margin: 2rem;
    border: 2px solid;
    border-radius: 4rem;
  }

  .buttonLink:hover {
    color: var(--verdeClaro);
    background-color: var(--verde);
    transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
  } */

  /* Sections */
  #hero {
    display: flex;
    flex-flow: column wrap;
    align-items: flex-start;
    padding: 8rem;
    height: auto;
  }

  .hero-text {
    padding: 3rem;
    font-size: clamp(1rem, 8vw, 5rem);
  }

  .hero-text p {
    color: var(--subtitulos);
    font-size: 3rem;
  }

  .hero-text h1 {
    color: var(--titulos);
  }

  .hero-action {
    padding: 3rem;
  }

  .hero-img {
    position: absolute;
    top: -6%;
    right: -30%;
    width: 65vw;
    max-width: 65vw;
    aspect-ratio: 16 / 9;
    border-radius: 18rem;
    transform: rotate(10deg);
    background: no-repeat center/cover
      url("../assets/img/fotos/pexels-nano-erdozain-120534369-30204528.jpg");
  }

  ul.hero {
    font-size: 2rem;
    padding: 4rem 11rem;
    background-color: #88543b;
    border-radius: 11rem;
  }

  .hero li {
    position: relative;
    color: white;
    padding: 0 3.1rem;
    margin: 0.9rem;
  }

  .hero li::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../assets/img/elements/check-circle.svg);
    background-position: 0 0;
    background-size: 2.1rem;
    background-repeat: no-repeat;
    filter: invert(100%);
  }

  #features {
    background-color: var(--fondoSection);
    padding: 5rem;
    border-radius: 5rem;
    width: 75%;
    margin: 0 auto;
  }

  .features-info {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 2rem 0;
  }

  .features-info h2 {
    font-size: 8rem;
    margin: -1rem;
    color: var(--titulos);
  }

  .features-info p {
    font-size: 1.8rem;
    margin: 1rem;
  }

  .features-steps {
    display: flex;
    gap: 10rem;
    margin: 2rem 0;
  }

  .step h3 {
    font-size: 3rem;
    text-align: center;
    font-weight: 100;
    color: var(--textoNormal);
  }

  .features-info img {
    width: 75%;
  }

  /* Footer */
  .footer {
    width: 100%;
    height: auto;
  }

  .footer-info {
    display: flex;
    justify-content: space-around;
    margin: 3rem auto;
    padding: 3rem;
    border-radius: 3rem;
    background-color: var(--verdeClaro);
    width: 90%;
  }

  .footer-help,
  .footer-about,
  .footer-eco {
    margin: 2rem;
  }

  .footer-help h3,
  .footer-about h3,
  .footer-eco h3 {
    font-family: "Noticia Text", serif;
    font-size: 3rem;
    margin-bottom: 1.5rem;
  }

  .footer-help li,
  .footer-about li,
  .footer-eco li {
    padding: 0.4rem 0;
  }

  .footer-legal {
    display: flex;
    justify-content: space-around;
    background-color: var(--verde);
    color: var(--textoNormal);
    padding: 2rem;
  }

  .footer-legal ul {
    display: flex;
  }

  .footer-legal li {
    padding: 0 1rem;
  }
}
